# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sdf
*.db

# Build / bin / obj
/build/
bin/
obj/
*.exe
*.dll
*.o
*.obj

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS files
.DS_Store
Thumbs.db